/* .container{
    background-color: #d49a11;

} */
.content{
    height: 150px;
    background-color: #d1ccc0;
}
.block-one{
    width: 400px;

    
}
.block-two{
    width: 550px;
    
}

.block-three{
    width: 700px;
    
}
.block-four{
    width: 800px;
    
}
.content-one{
    position: relative;
    margin-right: 0;
}
.content-two{
    z-index: 2;
    margin-left:-15%;
    top: -20%;
    
}
.row{
    display: flex;
    /* background-color:#78949b; */
}
button{
    background-color: #d49a11;
    /* margin-top: 5rem;
    margin-left: 4rem; */
}