
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="content-one">
                <div class=" content block-one">
            
                </div>
                <div class=" content block-two text-center mt-0">
                    <h2 class="text-center">Speak up</h2>
                    <h3>You are not a victim for sharing your story.You are a survivor setting the world on fire with your truth.
                        And you never know who needsyour light, your warmth and Raging Courage</h3>
                        <button class="btn btn-secondary mt-3">See More</button>
                </div>
                <div class=" content block-three">
                   
                </div>
                <div class=" content block-four">
                
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="content-two">
                <img src="assets/domestic.jpg" width="450" height="600"alt="">
            </div>
        </div>
    </div>

