.jumbotron{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.fas {
    color: red;
    font-size: larger;
 }
 .social{
     display: flex;
     flex-direction: column;
 }
 .row{
    background-color: #d1ccc0;
}